# Gradle files
.gradle/
build/

# Android Studio files
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
*.apk
*.ap_
*.dex
*.class

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temp files
*.tmp
*.bak
*.swp
